body {
  background: #000;
  margin: 0;
}

.orrery {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.orrery-date,
.orrery-fps,
.orrery-count {
  color: #fff;
  font-size: 0.8em;
  opacity: 0.3;
  padding: 5px;
  position: fixed;
}

.orrery-fps {
  right: 0;
  top: 0;
}

.orrery-date {
  bottom: 0;
  left: 0;
}

.orrery-count {
  bottom: 0;
  right: 0;
}
