/*
dat.GUI overrides
*/

.dg,
.dg .c input {
  font-family: var(--font-ui) !important;
}

.dg {
  font-size: var(--font-ui-size) !important;
}

.dg.a {
  margin: 5px 5px 0 0 !important;
}

.dg li {
  background: transparent !important;
}

.dg .cr {
  border: 0 !important;
}

.dg .close-button {
  display: none !important;
}

.dg .property-name {
  color: #666 !important;
  width: 20% !important;
}

.dg .c {
  width: 80% !important;
}

.dg .slider {
  margin-left: 0 !important;
  width: calc(76% - 5px) !important;
}

.dg .slider-fg {
  background-color: #555 !important;
}

.dg .slider:hover .slider-fg {
  background-color: #777 !important;
}

.dg .c input {
  color: #777 !important;
  font-size: 12px !important;
  height: 19px !important;
  line-height: 19px !important;
  padding: 0 3px !important;
  width: 20% !important;
}

.dg .c:hover input {
  color: #999 !important;
}
